body {
    background: rgb(0, 0, 0);
    font-family: Roboto; 
    
}

.caja {
    background: white;
    border: 20px;
    width: 600px;
    height: 740px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 100px;
}

.header-caja{
    display: flex;
    
}
.logoInstagram {
    display: flex;
    justify-content:left;
    font-size: 50px;
    margin: 10px;

}

.barra {
    display: flex;
    justify-content:right;
    font-size: 30px;
    margin: 10px;
    margin-left: 380px;
    margin-top: 20px;
}

.titulo {
    display: block;
    justify-content: left;
 

}

.titulo p {
    color:grey;
    margin-top: -15px;
}
.body-caja img {
    width: 100%;
    height: 500px;
    display: flex
}

.footer-caja {
    margin-left: 15px;
    
}

.post-icons {
    display: inline-flexbox;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 30px;
    justify-content:left;
    
  
}

.bookmark {
    display: flex;
    margin-left: 550px;
    margin-top: -55px;
    margin-bottom: 25px;
    font-size: 30px;
}